﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="sql,TSQL,sql server,SQL Server Interview" />

    <meta name="author" content="We are pleased to announce that our developer are working hard on new website! .
The new website is available and the URL is
http://sqljunction.in/ . It will be fully functional after the end of August. Our goal with this new website is to provide our visitors an easier way to learn about Sql server and also to allow the visitor to browse information based on their own choice.We hope you find the new website with a fresh look, easy to access information and we also wish to establish this portal as a source of information for those who visits our site." />
    <title>Learn Sql Server</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" />

    
    <link rel="stylesheet"  href="@Url.Content("~/Content/css/API.css")" />
    <link rel="stylesheet"  href="@Url.Content("~/Content/css/blog.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
    <link rel="stylesheet"  href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    


</head>



<body>
    <form id="form1" runat="server">
        <div>

            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>






                        <a class="navbar-brand" href="http://www.sqljunction.in">
                            Learn Sql Server &nbsp;       &nbsp;       &nbsp;       &nbsp;       &nbsp;       &nbsp;
                            <img src="@Url.Content("~/Content/favicon.ico")" />


                        </a>
                    </div>
                    <!-- Collect the nav links for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>

                            <li>
                                <a href="#">Research</a>
                            </li>
                            <li>
                                <a href="#">Development</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>

                        </ul>




                        @*<asp:TextBox id="txtSearch" runat="server" placeholder="Search Posts and videos" />
                        <asp:Button ID="btnSearch" runat="server" class="btn btn-danger" Text="Click Me" OnClick="btnbtnSearch_Click">  </asp:Button>
                        <asp:TextBox id="txtEmail" runat="server" placeholder="Subscribe us" />
                        <asp:Button ID="btnSubscribe" runat="server" class="btn btn-danger" Text="Click Me" OnClick="btnSubscribe_Click">*@
                        @*</asp:Button>*@

                    ></div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            <!--jumbotron-->
      



            
                        <div style="height:15px;">



                        </div>

                       



               




              
            <!--End jumbotron-->
            <div>
                <!--Blog Start-->
                <div class="row ">
                    <!--Categories and other -->


                    <div class="col-md-4 top-margin">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Recent Posts
                            </div>
                            <div class="panel-body">




                                Post




                            </div>

                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Recent Videos
                            </div>
                            <div class="panel-body">




                                Videos




                            </div>

                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Catogories
                            </div>
                            <div class="panel-body">
                                  @{Html.RenderAction("Categories", "Home");}
                                        
                                     
                            </div>

                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                SPONSORS
                            </div>
                            <div class="panel-body ">
                                <div class="jumbotron bg-blue text-center">

                                    <div style="background-image(Images/blue.jpg)">
                                        Email us <br />
                                        shrikantkhode@gmail.com

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                ADVERTISEMENT
                            </div>
                            <div class="panel-body ">
                                <div class="jumbotron bg-red text-center">




                                    <div style="background-image(Images/blue.jpg)">
                                        Email us <br />
                                        shrikantkhode@gmail.com

                                    </div>


                                </div>
                            </div>
                        </div>
@Html.Label("lblEmailStatus")
                      
                    </div>
                    
                    <div>
                        <br/>
                        @RenderBody()
                    </div>





                </div>





            </div>
            <!-- /.container -->
            <!--Footer -->

            <div class="col-md-12 top-margin footer-section">
                &copy; 2016 | &nbsp; All Rights Reserved | &nbsp;
                <a href="http://www.sqljunction.in/"> www.sqljunction.in</a>

            </div>
            <!--Footer end -->
            <!--Core JavaScript file  -->
            <script src="js/jquery-1.10.2.js"></script>
            <!--bootstrap JavaScript file  -->
            <script src="js/bootstrap.js"></script>



        </div>
    </form>
</body>
</html>
