﻿ 
 
@model IEnumerable<MvcApplication9.Models.CatagoryList>
<div class="nw-img">
    <ul>
        @foreach (var item in Model)
        {
            <div class="col-6">

                <li>


                    @Html.ActionLink(@item.Title, @item.Action, new { id = @item.CatagoryId })


                </li>

            </div>
        }
    </ul>
</div>